In [6]:
# Question 1
a = 0;               # a is initialized to 0

def b():             
    global a;        # global a will be used in this function
    a = c(a);        # this will call c(a) with global a.
    
def c(a):
    return a + 2;  

b();                # when a = c(a) is called, a is 0 initially. That means a = c(0) which is 2.
b();                # when a = c(a) is called, a is 2 because we called b() once. That means a = c(2) which is 4.
b();                # when a = c(a) is called, a is 4 because we called b() twice. That means a = c(4) which is 6.
a

6

In [14]:
# Question 2

def fileLength(fileName):
    try:
        infile = open(fileName, 'r');
        content = infile.read();
        infile.close();
        wordList = content.split();
        print(len(wordList));
    except FileNotFoundError:
        print(f"File {fileName} not found.");

fileLength('file.txt');

File file.txt not found.

In [34]:
# Question 3.1
class Marsupial:
    def __init__(self):
        self.pouch = [];
        
    def put_in_pouch(self, name):
        self.pouch.append(name);
        
    def pouch_contents(self):
        return self.pouch;

# Question 3.2
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__();
        self.x = x;
        self.y = y;
        
    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x}, {self.y})'
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
m = Marsupial();
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0,0);
print(k);

k.put_in_pouch('doll');
k.put_in_pouch('firetruck');
k.put_in_pouch('kitten');
print(k.pouch_contents());

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

In [49]:
# Question 4
def collatz(x):
    if(x > 0):
        print(x);
        if x == 1:
            return;
        if x % 2 == 0:
            collatz(x // 2)
        else:
            collatz(3 * x + 1)
    else:
        return;
collatz(1);
print("\n");
collatz(10);

1


10
5
16
8
4
2
1

In [60]:
# Question 5
def binary(num):
    if(num <= 1):
        print(num, end='');
        return;
    binary(num // 2);
    print(num % 2, end='');
binary(0);
print("\n");
binary(1);
print("\n");
binary(10);
print("\n");
binary(9);

0

1

1010

1001

In [ ]:
# Question 6

In [65]:
# Question 7

In [80]:
# Question 8 (Creating the Table)
import sqlite3

conn = sqlite3.connect('weather_data.db');

cur = conn.cursor();

# Creating a new table named 'weather_data'
cur.execute('''
CREATE TABLE weather_data (
    id INTEGER PRIMARY KEY,
    city TEXT NOT NULL,
    country TEXT NOT NULL,
    season TEXT NOT NULL,
    temperature_C REAL NOT NULL,
    rainfall_mm REAL NOT NULL
)
''');

data = [
    ("Mumbai", "India", "Winter", 24.8, 5.9),
    ("Mumbai", "India", "Spring", 28.4, 16.2),
    ("Mumbai", "India", "Summer", 27.9, 1549.4),
    ("Mumbai", "India", "Fall", 27.6, 346.0),
    ("London", "United Kingdom", "Winter", 4.2, 207.7),
    ("London", "United Kingdom", "Spring", 8.3, 169.6),
    ("London", "United Kingdom", "Summer", 15.7, 157.0),
    ("London", "United Kingdom", "Fall", 10.4, 218.5),
    ("Cairo", "Egypt", "Winter", 13.6, 16.5),
    ("Cairo", "Egypt", "Spring", 20.7, 6.5),
    ("Cairo", "Egypt", "Summer", 27.7, 0.1),
    ("Cairo", "Egypt", "Fall", 22.2, 4.5)
];

cur.executemany('''
INSERT INTO weather_data (city, country, season, temperature_C, rainfall_mm)
VALUES (?, ?, ?, ?, ?)
''', data);

conn.commit();

In [81]:
# Question 8.a
cur.execute("SELECT temperature_C FROM weather_data")
temperatures = cur.fetchall();

for temp in temperatures:
    print(temp[0]);

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [83]:
# Question 8.b
cur.execute("SELECT DISTINCT city FROM weather_data");
cities = cur.fetchall();

for city in cities:
    print(city[0]);

Mumbai
London
Cairo

In [85]:
# Question 8.c
cur.execute("SELECT * FROM weather_data WHERE country = 'India'");
records = cur.fetchall();
for record in records:
    print(record);

(1, 'Mumbai', 'India', 'Winter', 24.8, 5.9)
(2, 'Mumbai', 'India', 'Spring', 28.4, 16.2)
(3, 'Mumbai', 'India', 'Summer', 27.9, 1549.4)
(4, 'Mumbai', 'India', 'Fall', 27.6, 346.0)

In [86]:
# Question 8.d
cur.execute("SELECT * FROM weather_data WHERE season = 'Fall'");
records = cur.fetchall();
for record in records:
    print(record);

(4, 'Mumbai', 'India', 'Fall', 27.6, 346.0)
(8, 'London', 'United Kingdom', 'Fall', 10.4, 218.5)
(12, 'Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [88]:
# Question 8.e
cur.execute("SELECT city, country, season FROM weather_data WHERE rainfall_mm BETWEEN 200 AND 400");
records = cur.fetchall();
for record in records:
    print(record);

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [89]:
# Question 8.f
cur.execute("SELECT city, country FROM weather_data WHERE season = 'Fall' AND temperature_C > 20 ORDER BY temperature_C ASC");
records = cur.fetchall();
for record in records:
    print(record);

('Cairo', 'Egypt')
('Mumbai', 'India')

In [92]:
# Question 8.g
cur.execute("SELECT SUM(rainfall_mm) FROM weather_data WHERE city = 'Cairo'");
total_rainfall = cur.fetchone();
if total_rainfall[0] is not None:
    print(f"The total annual rainfall for Cairo is {total_rainfall[0]} mm.");
else:
    print("No rainfall data found for Cairo.");

The total annual rainfall for Cairo is 27.6 mm.

In [99]:
# Question 8.h
cur.execute("SELECT season, SUM(rainfall_mm) FROM weather_data GROUP BY season");
records = cur.fetchall()

for record in records:
    season, total_rainfall = record;
    print(f"The total rainfall for {season} is {total_rainfall} mm.");

The total rainfall for Fall is 569.0 mm.
The total rainfall for Spring is 192.29999999999998 mm.
The total rainfall for Summer is 1706.5 mm.
The total rainfall for Winter is 230.1 mm.

In [100]:
# Question 9.a
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog'];
uppercase_words = [word.upper() for word in words]

print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [101]:
# Question 9.b
lowercase_words = [word.lower() for word in words];

print(lowercase_words);

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [103]:
# Question 9.c
length_of_words = [len(word) for word in words];

print(length_of_words);

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [104]:
# Question 9.d
list_of_list = [[word.upper(), word.lower(), len(word)] for word in words];

print(list_of_list);

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [106]:
# Question 9.e
four_or_more = [word for word in words if len(word) >= 4];

print(four_or_more)

['quick', 'brown', 'jumps', 'over', 'lazy']